.btn {
	font-weight: bold;
}

.btn-default {
	&:hover {
		// color: #000 !important;
		color: $brand-danger;
		background: rgba($brand-primary, 0.1);
	}
}

.panel-title {
	font-weight: bold !important;
}
